:root {
  --navy-dark: #313647;
  --green-pill: #A3B087;
  --yellow-pill: #FFF8D4;
  --font-droid: 'Droid Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

/* --- PREVENT SCROLLING --- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: var(--font-droid);
}

/* --- LANDING CONTAINER --- */
.landing-banner {
  font-family: "Roboto Mono", monospace;
  background-image: url('../assets/landing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

/* --- CONTENT SECTION --- */
.landing-content {
  position: relative;
  z-index: 10;
  padding-left: 92px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 650px;
  height: 100%;
}

.login-btn-top {
  position: absolute;
  left: 92px;
  top: 38px;
  width: 132px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-droid);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.landing-logo {
  width: 361px;
  height: auto;
  margin-bottom: 15px;
  object-fit: contain;
}

.landing-description {
  color: white;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  width: 514px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 25px;
}

.btn-get-started {
  color: var(--Main-Dark-Blue, #313647);
  text-align: center;
  font-family: "Droid Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 190px;
  padding: 12px 24px;
  background: white;
  border-radius: 8px;
  color: var(--navy-dark);
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .landing-content {
    padding-left: 40px;
    padding-top: 120px;
  }